.v6_3 {
    width: 100%;
    height: 1080px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v63_51 {
    width: 100%;
    height: 1000px;
    /* background: url("../images/v63_51.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v174_681 {
    width: 100%;
    height: 1000px;
    background: linear-gradient(rgba(226, 255, 241, 1), rgba(241, 251, 246, 1));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v63_54 {
    width: 110px;
    height: 40px;
    background: rgba(2, 179, 98, 1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 21px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v63_55 {
    width: 84px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 7px;
    left: 13px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v160_127 {
    width: 134px;
    height: 40px;
    background: rgba(2, 179, 98, 1);
    opacity: 1;
    position: absolute;
    top: 76px;
    left: 1387px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v160_128 {
    width: 72px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 7px;
    left: 19px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v160_136 {
    width: 20px;
    height: 20px;
    background: rgba(0, 136, 70, 1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 101px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v160_137 {
    width: 12px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 3px;
    left: 4px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v160_130 {
    width: 134px;
    height: 40px;
    background: rgba(2, 179, 98, 1);
    opacity: 1;
    position: absolute;
    top: 76px;
    left: 1233px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v160_131 {
    width: 84px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 7px;
    left: 13px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v160_138 {
    width: 20px;
    height: 20px;
    background: rgba(0, 136, 70, 1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 107px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v160_139 {
    width: 12px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 3px;
    left: 4px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v63_56 {
    width: 168px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 18px;
    left: 701px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v160_35 {
    width: 135px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 204px;
    left: 1280px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v63_58 {
    width: 40px;
    height: 40px;
    background: rgba(221, 221, 221, 1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 640px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v69_59 {
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    overflow: hidden;
}
.v69_60 {
    width: 16px;
    height: 15px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 4px;
}
.v69_62 {
    width: 40px;
    height: 40px;
    background: rgba(221, 221, 221, 1);
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 930px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v69_63 {
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    overflow: hidden;
}
.v69_64 {
    width: 16px;
    height: 15px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 4px;
}
.v160_45 {
    width: 50px;
    height: 20px;
    /* background: url("../images/v160_45.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 204px;
    left: 1471px;
    overflow: hidden;
}
.v160_41 {
    width: 20px;
    height: 20px;
    background: rgba(221, 221, 221, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v160_42 {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 4px;
    overflow: hidden;
}
.v160_43 {
    width: 7px;
    height: 7px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 2px;
}
.v160_37 {
    width: 20px;
    height: 20px;
    background: rgba(221, 221, 221, 1);
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v160_38 {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 4px;
    overflow: hidden;
}
.v160_39 {
    width: 8px;
    height: 7px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 2px;
}
.v69_84 {
    width: 403px;
    height: 40px;
    /* background: url("../images/v69_84.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 1118px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v69_66 {
    width: 100px;
    height: 40px;
    background: rgba(221, 221, 221, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}
.v69_68 {
    width: 48px;
    color: rgba(9, 18, 25, 1);
    position: absolute;
    top: 7px;
    left: 26px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v69_69 {
    width: 100px;
    height: 40px;
    background: rgba(221, 221, 221, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 101px;
    overflow: hidden;
}
.v69_70 {
    width: 72px;
    color: rgba(182, 182, 182, 1);
    position: absolute;
    top: 7px;
    left: 14px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v69_73 {
    width: 100px;
    height: 40px;
    background: rgba(221, 221, 221, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 202px;
    overflow: hidden;
}
.v69_74 {
    width: 60px;
    color: rgba(182, 182, 182, 1);
    position: absolute;
    top: 7px;
    left: 20px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v69_76 {
    width: 100px;
    height: 40px;
    background: rgba(221, 221, 221, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 303px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v69_77 {
    width: 36px;
    color: rgba(182, 182, 182, 1);
    position: absolute;
    top: 7px;
    left: 32px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.v63_52 {
    width: 130px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 150px;
    left: 1340px;
    font-family: JetBrains Mono;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_124 {
    width: 237px;
    height: 176px;
    /* background: url("../images/v160_124.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 246px;
    left: 1286px;
    overflow: hidden;
}
.v160_70 {
    width: 235px;
    height: 21px;
    /* background: url("../images/v160_70.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
}
.v160_57 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 210px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_58 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 175px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_60 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 140px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_62 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 105px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_64 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 70px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_68 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_66 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 1px;
    left: 35px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_79 {
    width: 235px;
    height: 21px;
    /* background: url("../images/v160_79.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 2px;
    overflow: hidden;
}
.v160_80 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 210px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_81 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 175px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_82 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 140px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_83 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 105px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_84 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 70px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_85 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_86 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_88 {
    width: 235px;
    height: 21px;
    /* background: url("../images/v160_88.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 62px;
    left: 2px;
    overflow: hidden;
}
.v160_89 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 210px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_90 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 175px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_91 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 140px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_92 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 105px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_93 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 70px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_94 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_95 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_97 {
    width: 235px;
    height: 21px;
    /* background: url("../images/v160_97.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 93px;
    left: 2px;
    overflow: hidden;
}
.v160_98 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 210px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_99 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 175px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_100 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 140px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_101 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 105px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_102 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 70px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_103 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_104 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_106 {
    width: 235px;
    height: 21px;
    /* background: url("../images/v160_106.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 124px;
    left: 0px;
    overflow: hidden;
}
.v160_107 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 210px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_108 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 175px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v174_685 {
    width: 30px;
    height: 28px;
    background: rgba(182, 245, 216, 1);
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 137px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
}
.v160_109 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 140px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_110 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 105px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_111 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 70px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_112 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_113 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_115 {
    width: 235px;
    height: 21px;
    /* background: url("../images/v160_115.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 155px;
    left: 0px;
    overflow: hidden;
}
.v160_116 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 210px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_117 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 175px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_118 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 140px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_119 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 105px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_120 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 70px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_121 {
    width: 25px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_122 {
    width: 25px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}
.v160_141 {
    width: 192px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 453px;
    left: 1309px;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.v160_1246 {
    width: 100%;
    height: 29px;
    /* background: url("../images/v160_1246.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 138px;
    left: 20px;
    overflow: hidden;
}
.v160_1233 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 8px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_1234 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 170px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.v160_1236 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 352px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.v160_1238 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 530px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.v160_1240 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 705px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.v160_1242 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 888px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.v160_1244 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 3px;
    left: 1072px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}
.v160_1279 {
    width: 30px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 188px;
    left: 140px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_1280 {
    width: 30px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 188px;
    left: 140px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_1282 {
    width: 30px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 188px;
    left: 140px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_1284 {
    width: 29px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 188px;
    left: 319px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_1286 {
    width: 30px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 188px;
    left: 498px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_1288 {
    width: 30px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 186px;
    left: 678px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_1290 {
    width: 31px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 186px;
    left: 859px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_1292 {
    width: 27px;
    color: rgba(221, 221, 221, 1);
    position: absolute;
    top: 188px;
    left: 1037px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_1294 {
    width: 12px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 188px;
    left: 1239px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v160_1296 {
    width: 159px;
    height: 24px;
    background: rgba(23, 205, 106, 0.5);
    opacity: 1;
    position: absolute;
    top: 237px;
    left: 548px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v160_1295 {
    width: 135px;
    color: rgba(36, 123, 76, 1);
    position: absolute;
    top: 3px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v160_1297 {
    width: 159px;
    height: 24px;
    background: rgba(205, 33, 23, 0.5);
    opacity: 1;
    position: absolute;
    top: 271px;
    left: 548px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v160_1298 {
    width: 145px;
    color: rgba(176, 27, 19, 1);
    position: absolute;
    top: 3px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.v63_25 {
    width: 220px;
    height: 1000px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.v174_689 {
    width: 220px;
    height: 1000px;
    background: linear-gradient(rgba(226, 255, 241, 1), rgba(241, 251, 246, 1));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v63_14 {
    width: 144px;
    color: rgba(0, 82, 68, 1);
    position: absolute;
    top: 15px;
    left: 38px;
    font-family: JetBrains Mono;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.v69_85 {
    width: 185px;
    height: 150px;
    /* background: url("../images/v69_85.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 87px;
    left: 15px;
    overflow: hidden;
}
.v63_31 {
    width: 185px;
    height: 40px;
    background: rgba(181, 245, 216, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.v63_26 {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    overflow: hidden;
}
.v63_27 {
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 2px;
}
.v63_30 {
    width: 108px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 7px;
    left: 50px;
    font-family: JetBrains Mono;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v63_32 {
    width: 185px;
    height: 40px;
    /* background: url("../images/v63_32.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 0px;
    overflow: hidden;
}
.v63_33 {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    overflow: hidden;
}
.v63_34 {
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 2px;
}
.v63_35 {
    width: 84px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 7px;
    left: 50px;
    font-family: JetBrains Mono;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v63_37 {
    width: 185px;
    height: 40px;
    /* background: url("../images/v63_37.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 110px;
    left: 0px;
    overflow: hidden;
}
.v63_40 {
    width: 72px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 7px;
    left: 50px;
    font-family: JetBrains Mono;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v63_45 {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    overflow: hidden;
}
.v63_46 {
    width: 22px;
    height: 25px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
}
.v63_49 {
    width: 190px;
    height: 50px;
    /* background: url("../images/v63_49.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 935px;
    left: 15px;
    overflow: hidden;
}
.v61_11 {
    width: 40px;
    height: 40px;
    background: rgba(2, 179, 98, 1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.v63_22 {
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
}
.v63_23 {
    width: 13px;
    height: 17px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 3px;
}
.v63_48 {
    width: 130px;
    color: rgba(9, 18, 25, 1);
    position: absolute;
    top: 9px;
    left: 55px;
    font-family: JetBrains Mono;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
.name {
    color: #fff;
}
