.modalOverlay {

}
  
  .closeButton {
    position: absolute;
    top: 12px;
    right: 20px;
    background: transparent;
    border: none;
    padding: 10px; 
    font-size: 24px;
    cursor: pointer;
}
