.settingsLayout {
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.content {
    flex: 1;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--bg-color);
}