.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #005244;
    color: white;
}

.logo {
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.navLink {
    color: white;
    text-decoration: none;
    margin: 0px 15px 0px 15px;
  }

.signInButton {
    background-color: #02B362;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
}