.SignInBlock {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 680px;
    height: 840px;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    font-size: 3.5rem;
    letter-spacing: 15px;
    font-weight: bold;
    margin-top: 50px;
    color: #005244;
}


.welcomeText {
    color:#535353;
    font-size: 1.7rem;
    text-align: center;
    text-wrap: wrap;
    margin: 28px;
}

.inputField {
    display: flex;
    flex-direction: column;
    margin: 5px 19x;
}

.inputEmail, .inputPassword {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
 
.emailInputBox, .passwordInputBox {
    border-radius: 11px;
    border: 1px solid #d1d1d1;
    width: 605px;
    height: 53px;
    background-color: #d1d1d1; 
    text-indent: 15px; 
    margin: 5px;
}

.label {
    margin-top: 15px;
    margin-left: 8px;
}

.resetPassText {
    margin-left: auto; 
    display: block;
    margin-top: 10px; 
    margin-right: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #02B362;
    text-decoration: none;
}

.signInButton {
    margin-top: 109px;
    font-size: 2rem;
    background-color: #02B362;
    color: white;
    border-radius: 11px;
    width: 400px;
    height: 80px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.signUpBox {
    color:black;
    margin-top: 35px;
    font-size: 1.5rem;
    display: flex;    
}

.signUpText {
    color: #02B362;
    text-decoration: none;
    margin-left: 10px;
}